body {
  background-color: #14110e;
  color: #fff;
  font: 500 16px/28px 'Urbanist', Arial, helvetica, sans-serif;
}
a{
  transition: .4s;
}
img{
  max-width: 100%;
  max-height: 100%;
}
button {
  display: flex;
  border: none;
  color: inherit;
  font: inherit;
  background-color:transparent;
  transition: .4s;
  cursor: pointer;
}
.btn-primary{
  padding: 20px 36px;
  font: 700 18px 'inter', Arial, helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #c99e71;
}

.btn-primary:hover{
  background-color: #46321c33;
}

input{
  display: block;
  padding: 16px 20px;
  border: none;
  font: 500 16px/28px 'Urbanist', Arial, helvetica, sans-serif;
  color: inherit;
  background-color: #14110e;
  outline: none;
  opacity: 0.7;
}


.container{
  max-width: 1340px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 75px;
}
.container-header{
  padding: 0 10px;
}
.section-main{
  padding-bottom: 140px;
}
.section-title{
font: 600 18px/22px 'Urbanist', Arial, helvetica, sans-serif;
color: #c99e71;
text-align: center;
margin-bottom: 12px;
}

.section-subtitle{
font: 48px/62px 'Righteous';
text-align: center;
margin-bottom: 56px;
}

.section-text{
  opacity: 0.8;
  text-transform: capitalize;
}





/* header section */

#header-section{
  padding: 32px 0;
  background-color: #1c1814;
}

.header,
.nav-main,
.nav-main_list,
.header-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.nav-main{
flex-grow: 0.5;
}


.nav-main_list{
  font: 400 18px 'inter', Arial, helvetica, sans-serif;
/* gap: 46px; */
}
.nav-main_link_selected{
color: #c99e71;
font-weight: 700;
cursor: default;
}
.nav-main_link:hover{
  color: #c99e71;
}

/* .header-action{
gap: 48px;
} */

.header-action_search,
.header-action_cart{
  width: 30px;
  height: 30px;
}
/* .header-action_search:hover,
.header-action_cart:hover{
  border-bottom: 1px solid #c99e71;
} */

.header-action_search:active,
.header-action_cart:active{
  margin-bottom: -17px;
  transition: linear;
}
.header_logo{
  width: 72px;
  height: 60px;
}
/* bunner */
#banner-section{
background: url(../images/pexels/anas-alhajj-1jzc9_IVP4g-unsplash.jpg) 50% 50%/cover no-repeat;
}

.banner{
  display: flex;
  justify-content: space-between;
  padding: 147px 0 158px;
}

.banner-info{
  max-width: 530px;
}

.banner_header{
  font: 72px/94px 'Righteous';
}

.banner_text{
  font-size: 20px;
  line-height: 36px;
  opacity: 0.8;
margin: 32px 0 64px;
text-transform: capitalize ;
}

.banner_btn{
  padding: 24px 40px;
}

.banner-video_btn{
  position: relative;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  height: 110px;
  font: 400 16px 'inter', Arial, helvetica, sans-serif;
  text-transform: uppercase;

}

.banner-video_btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 66px;
  height: 66px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url(../images/icons/play.svg) 50%/24px 28px no-repeat;
  transform: translateX(-50%);
}
  
.banner-video_btn:hover{
color: #c99e71;
}

/* features */

.features{
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding-top: 140px;

}
.features_item{
  font: 24px/30px 'Righteous', cursive;

}

.features_item_dark{
  color: #c99e71;
  margin-right: 12px;
}
.features_img{
  display: block;
  margin-top: 24px;
}

/* history? */
.history-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows:repeat(2, 1fr);
  gap: 32px;
  align-items: stretch;
}
.history-wrap_img:first-child{
grid-column: 1/2;
grid-row: 1/2;
}

.history-wrap_img:nth-child(2){
  grid-column: 2/3;
grid-row: 1/3;
}

.history-wrap_img:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  }

  .history{
    grid-column: 3/4;
  grid-row: 1/3;
  background-color: #1c1814;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 56px;
}

.history_title,
.history_subtitle{
  text-align: left;

}
.history_subtitle{
  margin-bottom: 36px;
}


.rating_item{
 display: inline-block;
}

/* popular */

.popular-wrap{
  display: flex;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 56px;
}

.popular{
  padding: 48px 48px 36px;
  background-color: #121315;
  text-align: center;
  text-transform: uppercase;

}

.popular_img{
  display: block;
  /* margin-bottom: 37px; */

  display: block;
  margin: 0 auto 37px;
  /* margin-bottom: 37px; */
  width: 190px;
  height: auto;
}

.rating{
display: flex;
justify-content: center;
gap: 15px;
color: #c99e71;
}

.rating_title{
  font-weight: 500;
}

.rating_list{
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.rating_item{
font-size: 16px;
line-height: 26px;
}

.popular_title{
  margin: 12px 0 20px 0;
  font: 24px/30px 'Righteous';

}

.popular_price{
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.popular_price-dark{
  color: #c99e71;
  font: 400 18px 'inter', Arial, helvetica, sans-serif;
}
.popular_btn{
  text-transform: none;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
width: 170px;
margin: 38px auto 0;
padding: 13px 0;
font: 600 18px/22px 'Urbanist', Arial, helvetica, sans-serif;

}

.popular:hover .rating,
.popular:hover .popular_price{
display: none;
}
.popular:hover .popular_btn{
display: flex;
}

.popular_link {
  display: block;
  width: 252px;
  margin: 0 auto;
}
/* discover */
.discover-wrap{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: #1c1814;
  padding: 85px 80px;
}
.discover-img{
  display: block;
  margin: 0 auto;
  max-height: 359px;
  border: 4px #4b3e3173 inset;
}
.discover{
  max-width: 535px;
  width: 100%;
}

.discover_title{
 margin-bottom: 36px;
text-align: left;
}
.discover_link {
display: block;
width: 215px;
margin-top: 36px;
}

/* menu */

.menu_wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 36px;
}
.menu{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px;
  width: 45%;
  border:1px solid #32323d;
}
.menu_img{
  width: 72px;
  height: 72px;
}
.menu_title{
  font: 24px/30px 'Righteous';
}
.menu_price{
  display: flex;
margin-left: auto;
font-size: 18px;
color: #C99E71;
}

/* testimonial */

.testimonial-wrap{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 36px;
}

.testimonial{
  padding: 40px;
  background-color: #1c1814;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-data{
display: flex;
justify-content: space-between;
gap: 24px;
}

.testimonial_img{
  display: block;
  width: 129px;
  height: 149px;
}

.testimonial-info{
  display: flex;
justify-content: space-between;
align-items: end;
margin-top: 28px;
}

.testimonial_name{
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
}
.testimonial_position{
  font-size: 14px;
  line-height: 25px;
  opacity: 0.8;
}

.testimonial_list.rating_list{
  font-size: 20px;
  color: #faa61a;
}

/* testimonial-action */
.testimonial-action, 
.testimonial-btn-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-count_text{
display: block;
margin-bottom: 20px;
font-size: 20px;
color: #C99E71;
}

.testimonial-count_progress{
appearance: none;
width: 120px;
height: 4px;
}
.testimonial-count_progress::-webkit-progress-bar{
  border-radius: 3px;
  background-color: #2b2926;
}
.testimonial-count_progress::-webkit-progress-value{
  border-radius: 3px;
background-color: #c99e71;
}
.testimonial-btn-wrap{
  gap: 16px;
}


.testimonial-btn{
  border-radius: 50%;
background-color: #121315;
width: 56px;
height: 56px;
cursor: default;
justify-content: center;
align-items: center;
}

.testimonial-btn-active{
  background-color: #C99E71;
  color: #010102;
  cursor: pointer;
 }
.testimonial-btn-active:hover{
 background-color: #4d3f2f;
}

/* reservation */

.reservation-wrap{
display: flex;
justify-content: space-between;
}
.reserwation-map{
width: 50%;
background: url(../images/registration-bg.jpg) 50% 0%/cover no-repeat;
}
.reservation{
  width: 50%;
  padding: 72px 48px;
  background-color: #1c1814;

}

.reservation_input{
  width: 100%;
  margin-bottom: 24px;

}

.reservation_btn{
  width: 205px;
  margin:56px auto 0;
}

