body {
  background: #1c1814;
  color: #fff;
  font-style: normal;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
p {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

button {
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.flex-row-directions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.header {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s linear;
  padding-bottom: 20px;
}
.header-wrapper {
  align-items: center;
  max-width: 1320px;
  width: 100%;
  height: 125px;
  margin: 0 auto;
}
.header-font-style {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.left-navigation {
  max-width: 397px;
  width: 100%;
}
.right-navigation-wrapper {
  width: 417px;
  align-items: center;
}
.right-navigation {
  width: 60%;
}
.intro {
  height: 864px;
  max-width: 1920px;
  width: 100%;
  background-image: url(../images/intro.png);
  background-size: contain;
}
.intro-content {
  max-width: 529px;
  width: 100%;
}
.intro-title {
  font-size: 72px;
  margin-bottom: 32px;
}
.intro-text {
  font-size: 20px;
  margin-bottom: 64px;
}
.intro-submit-btn {
  width: 202px;
  height: 70px;
  padding: 24px 40px;
  gap: 10px;
  background: #c99e71;
}
