body {
  background-color: #14110e;
  color: #fff;
  font: 500 16px/28px 'Urbanist', Arial, helvetica, sans-serif;
}
a{
  transition: .4s;
}
img{
  max-width: 100%;
  max-height: 100%;
}
button {
  display: flex;
  border: none;
  color: inherit;
  font: inherit;
  background-color:transparent;
  transition: .4s;
  cursor: pointer;
}
.btn-primary{
  padding: 20px 36px;
  font: 700 18px 'inter', Arial, helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #c99e71;
}
.btn-primary:hover{
  background-color: #46321c33;

}

.container{
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}
.container-header{
  padding: 0 10px;
}
.section-main{
  padding-bottom: 140px;
}
.section-title{
font: 600 18px/22px 'Urbanist', Arial, helvetica, sans-serif;
color: #c99e71;
text-align: center;
margin-bottom: 12px;
}

.section-subtitle{
font: 48px/62px 'Righteous';
text-align: center;
margin-bottom: 56px;
}

.section-text{
  opacity: 0.8;
  text-transform: capitalize;
}





/* header section */

#header-section{
  padding: 32px 0;
  background-color: #1c1814;
}

.header,
.nav-main,
.nav-main_list,
.header-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.nav-main{
flex-grow: 0.5;
}


.nav-main_list{
  font: 400 18px 'inter', Arial, helvetica, sans-serif;
/* gap: 46px; */
}
.nav-main_link_selected{
color: #c99e71;
font-weight: 700;
cursor: default;
}
.nav-main_link:hover{
  color: #c99e71;
}

/* .header-action{
gap: 48px;
} */

.header-action_search,
.header-action_cart{
  width: 30px;
  height: 30px;
}
/* .header-action_search:hover,
.header-action_cart:hover{
  border-bottom: 1px solid #c99e71;
} */

.header-action_search:active,
.header-action_cart:active{
  margin-bottom: -17px;
  transition: linear;
}
.header_logo{
  width: 72px;
  height: 60px;
}
/* bunner */
#banner-section{
background: url(../images/pexels/anas-alhajj-1jzc9_IVP4g-unsplash.jpg) 50% 50%/cover no-repeat;
}

.banner{
  display: flex;
  justify-content: space-between;
  padding: 147px 0 158px;
}

.banner-info{
  max-width: 530px;
}

.banner_header{
  font: 72px/94px 'Righteous';
}

.banner_text{
  font-size: 20px;
  line-height: 36px;
  opacity: 0.8;
margin: 32px 0 64px;
text-transform: capitalize ;
}

.banner_btn{
  padding: 24px 40px;
}

.banner-video_btn{
  position: relative;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  height: 110px;
  font: 400 16px 'inter', Arial, helvetica, sans-serif;
  text-transform: uppercase;

}

.banner-video_btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 66px;
  height: 66px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url(../images/icons/play.svg) 50%/24px 28px no-repeat;
  transform: translateX(-50%);
}
  
.banner-video_btn:hover{
color: #c99e71;
}

/* features */

.features{
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding-top: 140px;

}
.features_item{
  font: 24px/30px 'Righteous', cursive;

}

.features_item_dark{
  color: #c99e71;
  margin-right: 12px;
}
.features_img{
  display: block;
  margin-top: 24px;
}

/* history? */
.history-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows:repeat(2, 1fr);
  gap: 32px;
  align-items: stretch;
}
.history-wrap_img:first-child{
grid-column: 1/2;
grid-row: 1/2;
}

.history-wrap_img:nth-child(2){
  grid-column: 2/3;
grid-row: 1/3;
}

.history-wrap_img:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  }

  .history{
    grid-column: 3/4;
  grid-row: 1/3;
  background-color: #1c1814;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 56px;
}

.history_title,
.history_subtitle{
  text-align: left;

}
.history_subtitle{
  margin-bottom: 36px;
}


.rating_item{
 display: inline-block;
}







































/* 
  
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Righteous";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
p {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

/*  
img{
  max-width: 100%;
}
.flex-row-directions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.header {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.2s linear;
  padding-bottom: 20px;
}
.header-wrapper {
  align-items: center;
  max-width: 1320px;
  width: 100%;
  height: 125px;
  margin: 0 auto;
}
.header-font-style {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.left-navigation {
  max-width: 397px;
  width: 100%;
}
.right-navigation-wrapper {
  width: 417px;
  align-items: center;
}
.right-navigation {
  width: 60%;
}
.intro {
  /* height: 100vh; */
  /* position: relative; */
  /* 
}
.intro-wrapper{
  background-image: url(../images/intro.png);
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  height: 864px;
  width: 1000px;
}
.intro-content {
  max-width: 529px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.intro-title {
  font-size: 72px;
  margin-bottom: 32px;
}
.intro-text {
  font-size: 20px;
  margin-bottom: 64px;
}
.intro-submit-btn {
  width: 202px;
  height: 70px;
  padding: 24px 40px;
  gap: 10px;
  background: #c99e71;
}
 
 */





/* registration form styles */
/* 
.registration{
  
  max-width: 1182px;
  width: 80%;
  border: 2px solid #c99e71;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  border-radius: 22px;
  overflow: hidden;
}
.register-active{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.registration-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
/* content */
/* 
.content-side{
  background-image: 
      linear-gradient(
        rgba(24, 24, 25, 0.829), 
        rgba(100, 107, 110, 0.849)
      ),
      url(../images/registration-bg.jpg);
      background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
span{
  font-family: "Urbanist";
  text-align: center;
  line-height: normal;
}
.registration-container-title{
  font-family: "Urbanist";
  font-size: 58px;
  font-weight: 900;
  max-width: 306px;
  width: 100%;
}
.contet-text{
  font-size: 28px;
  font-weight: 400;
}
.form-btn{
  width: 322px;
  margin: auto;
  padding: 12px 12px;
  color: #fff;
  border:#fff 1px solid;
  border-radius: 22px;
  background-color: #959492;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
/* from-side */


/* 
.form-side{
  width: 50%;
  background-color: white;
}

.form-side .registration-container-title{
  color: #1c1814;
  font-size: 52px;
}

input{
  font-family: "Urbanist";
  display: block;
  width: 100%;
  background-color:rgba(198, 197, 197, 0.156) ;
  border-radius: 12px;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 10px;
  margin: 16px;
}
label{
  color: black;
}
 */